DOMAIN=dsayur.arusdigital.cloud
ODOO_DOMAIN=dsayur-odoo.arusdigital.cloud
ODOO_DATABASE=dsayur
POSTGRES_USER=odoo
STORE_LATITUDE=0.9189193
STORE_LONGITUDE=104.505651
# 0 = Xendit test mode, 1 = transaksi live. Mulai dengan 0.
XENDIT_LIVE_MODE=0
